@font-face {
    font-family: 'Outfit';
    src: url('./fonts/Outfit-Regular.ttf');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Outfit';
    src: url('./fonts/Outfit-Bold.ttf');
    font-weight: 700;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
}

main{
    background: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

article {
    background: hsl(0, 0%, 100%);
    width: 320px;
    height: 497px;
    border-radius: 20px;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
}

img {
    width: 288px;
    height: 288px;
    border-radius: 10px;
    margin: 16px 16px 24px;
}

h1, p {
    text-align: center;
}

h1 {
    margin: 0 16px 16px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #1F314F;
}

p {
    margin: 0px 32px 40px;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.1875px;
    color: #7D889E;
}